/* bg color */
body{
  background-color: black;
}

.card:hover{
  cursor: pointer;
}


/* title films and series */
.title{
  margin-left: 10%;
  margin-top: 50px;
}


img{
  aspect-ratio: 0.8;
}


/* text of cards */

.description{
  font-size: 11px;
  height: 100px;
}

p{
  font-size: 13px;
}

/* btn play */
.btn{
  background-color: greenyellow;
  border: none;

}

.btn:hover{
  background-color: blue;
  color: white;
}