body{
  background-color: black;
}

.title{
  margin-left: 10%;
  margin-top: 50px;
}


img{
  aspect-ratio: 0.8;
}


.description{
  font-size: 11px;
  height: 100px;
}

p{
  font-size: 13px;
}

.btn{
  background-color: greenyellow;
  border: none;

}

.btn:hover{
  background-color: blue;
  color: white;
}